*{
    box-sizing: border-box;
}
/* CSS HEADER */

body{
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}
.container{
    max-width: 1024;
    margin: 0 auto;
}
.container-conteudo{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.container-header{
    color: #0000008c;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    line-height: 40px;
}
.container-header-titulo{
    padding-top: 15px;
    margin-bottom: 60px;
}
.container-header a{
    text-decoration: none;
    color: #0000008c;
    font-size: 16px;
    border-bottom: 3px solid #0d6e71;
    margin-left: 10px;
    padding: 3px;
    text-transform: uppercase;
}
.container-header a:hover{
    color: #333;
}
.container-conteudo-info{
    display: flex;
    flex-wrap: nowrap;
}
.box-tabela-especialista {
    display: flex;
    height: 240px;
    padding: 0px;
}
.box-tabela-especialista img {
    width: 30%;
    height: 100%;
    object-fit: cover;
}
.tabela-especialistas {
    border-spacing: 0;
    text-align: left;
    width: 70%;
    height: 100%;
  }
.tabela-especialistas thead tr {
    background-color: #00cad1;
    color: #fff;
}
.tabela-especialistas tr {
    background-color: #f1f1f1;
    color: #585757;
    font-weight: 500;
}
.tabela-especialistas tbody tr:nth-of-type(2n+1) {
    background-color: #cdcdcd;
    border: 1px solid #f1f1f1;
}
.tabela-especialistas th, .tabela-especialistas td  {
    padding: 0 10px;
}
@media (max-width: 425px){
    .box-tabela-especialista img {
        display: none;
    }
    .tabela-especialistas table{
        width: 100%;
    }
    .tabela-especialistas th,
    .tabela-especialistas td{
        padding: 5px;
    }
    .container-header-titulo h1{
        font-size: 28px;
    }
}
@media (max-width: 768px){
    .box-tabela-especialista img{
        display: none;
    }
    .tabela-especialistas{
        width: 100%;
        height: 100%;
    }
    .tabela-especialistas th, 
    .tabela-especialistas td{
        padding: 5px;
    }
    .container-header-titulo h1{
        font-size: 28px;
    }
}
